
body {
  background: #3c8dbc; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #3c8dbc, #3c8dbc);
  background: -moz-linear-gradient(right, #3c8dbc, #3c8dbc);
  background: -o-linear-gradient(right, #3c8dbc, #3c8dbc);
  background: linear-gradient(to left, #3c8dbc, #3c8dbc);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-footer {
    display: block;
    text-align: center;
}