# PyCharm
.idea

# pyc file
*.pyc

# virtualenv
venv/

# all local files
*local*

# npm packages just for develop
node_modules

# logs
logs/

# sass-cache
.sass-cache/

# DS_Store
*.DS_Store

# cache (py.test)
.cache/


# scrapy
.python-version
=
dbs/
setup.py
twistd.pid
build/
eggs/
project.egg-info/

.env

getssl
.getssl/

*.key
*.crt
