{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'assets/css/base.css' %}" rel="stylesheet">
    {% block css%}
    {% endblock %}
</head>
<body>
  <div class="page-header">
    {% block header %}
    {% endblock %}
  </div>
  <div class="page-container">
    {% block container %}
    {% endblock %}
  </div>
</body>
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/login.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
</html>