{% extends "web/base.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'assets/css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block container %}
<div class="index-page">
    <textarea id="pod-log" cols="100" rows="20"></textarea><br/>
    <h2>pod-name-input</h2>
    <input id="pod-name-input" type="text" size="100"/>
    <input id="pod-log-submit" type="button" value="Show"/>
    <h2>YAML url to submit</h2>
    <input id="yaml-url-input" type="text" size="100"/>
    <input id="yaml-url-submit" type="button" value="Create"/>
    <input id="yaml-url-delete" type="button" value="Delete"/>
</div>
{% endblock%}
