{% extends "web/base.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'assets/css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block container %}
<div class="login-page">
  <div class="form">
    <form class="login-form" method="post">{% csrf_token %}
      <input name="account" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <button >login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>
{% endblock%}